.maincontainer {
    padding:10px;
    min-height:100vh;
    min-width:100vw;

}

.heading {
    text-align:center;
    font-size:30px;
    font-weight:bold;
    color:#000000;
    font-family:"Roboto", sans-serif;
}

.card {
    background-color:beige;
    height:400px;
    width:400px;
    border-radius:20px;
    padding:20px;
}